.search__toolbar {
  margin-top: 115px;
  margin-left: 104px;
  margin-right: 32px;
}

.search-result__save {
  float: right;
}

.search-result__saved {
  background-color: #b2dfdb;
}

.search-result__number-items {
  background-color: #e0f2f1;
  color: #004d40;
}
